.wrapper {
    height: calc(100vh - 110px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 0;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: #808080;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: transparent;
    }
}